.splashBg{  
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background: url('../images/image.png');
    background-size: cover;
}
.header{
    background-color: white;
    width: 100vw;
    height: 5vh;

}
.btLogin{
    color: #5a5252;
    border: none;
    background-color: none;
    &:hover {
        
        color: #e62a2a; /* Màu chữ khi hover */
      }
}